<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Codazon, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_category_init_after">
        <observer name="ajax_layered_nav_pro_observer_category_controller" instance="Codazon\AjaxLayeredNavPro\Observer\CategoryInitAfter" />
    </event>
</config>
