<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Codazon, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="ShopbybrandproGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
		<arguments>
			<argument name="appliers" xsi:type="array">
				<item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
				<item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="ShopbybrandproGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
		<arguments>
			<argument name="collection" xsi:type="object" shared="false">Codazon\Shopbybrandpro\Model\ResourceModel\SelectedBrands\Collection</argument>
			<argument name="filterPool" xsi:type="object" shared="false">ShopbybrandproGirdFilterPool</argument>
		</arguments>
	</virtualType>
	<virtualType name="Codazon\Shopbybrandpro\Model\ResourceModel\Shopbybrandpro\Grid\Collection" type="Codazon\Shopbybrandpro\Model\ResourceModel\SelectedBrands\Collection">
		<arguments>
			<argument name="mainTable" xsi:type="string">eav_attribute_option</argument>
			<argument name="resourceModel" xsi:type="string">Codazon\Shopbybrandpro\Model\ResourceModel\SelectedBrands</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="shopbybrandpro_listing_data_source" xsi:type="string">Codazon\Shopbybrandpro\Model\ResourceModel\Shopbybrandpro\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>