<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
				<resource id="MageArray_Core::core" title="MageArray Extensions" sortOrder="80">
					<resource id="MageArray_LoginCatalog::logincatalog" title="Catalog Login" sortOrder="60">
						<resource id="MageArray_LoginCatalog::settings" title="Settings" sortOrder="60" />
					</resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="MageArray_LoginCatalog::config_logincatalog" title="Catalog Login"
                                      sortOrder="81"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>