<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Codazon_Options::Codazon_Options" title="Themes Options">
					<resource id="Codazon_Options::themes_options" title="Themes Options">
						<resource id="Codazon_Options::themes_install" title="Theme installer" />
						<resource id="Codazon_Options::themes_new" title="Theme New" />
					</resource>
					<resource id="Codazon_Options::extensions_options" title="Extensions Options">
						<resource id="Codazon_Options::slideshow_title" title="CDZ Slideshow">
							<resource id="Codazon_Slideshow::slideshow" title="Codazon Slideshow" sortOrder="10" />   
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
