<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="MageArray_Customeractivation" setup_version="1.0.0" schema_version="1.0.0">
        <sequence>
            <module name="Magento_Customer"/>
            <module name="MageArray_Wholesale"/>
        </sequence>
    </module>
</config>
