<?xml version="1.0"?>
<!--
/**
* Copyright © 2018 Codazon. All rights reserved.
* See COPYING.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="lookbookpro" frontName="lookbookpro">
            <module name="Codazon_Lookbookpro" before="Magento_Backend" />
        </route>
    </router>
</config>
