<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Codazon. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
		<section id="codazon_lookbook" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Lookbook Pro</label>
            <tab>codazon</tab>
			<resource>Codazon_Lookbookpro::settings</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="root_category" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Lookbook Root Category</label>
                    <source_model>Codazon\Lookbookpro\Model\Config\Source\CategoryRoots</source_model>
                </field>
            </group>
			<group id="images" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Image Config</label>
                <group id="category" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category</label>
                    <field id="cover_width" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Cover Width</label>
                    </field>
                    <field id="thumbnail_width" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Thumbnail Width</label>
                    </field>
                    <field id="thumbnail_height" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Thumbnail Height</label>
                    </field>
                </group>
                <group id="lookbook" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Lookbook</label>
                    <field id="cover_width" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Cover Width</label>
                    </field>
                    <field id="thumbnail_width" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Thumbnail Width</label>
                    </field>
                    <field id="thumbnail_height" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Thumbnail Height</label>
                    </field>
                </group>
                <group id="lookbook_item" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Lookbook Item</label>
                    <field id="small_width" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Width</label>
                    </field>
                    <field id="small_height" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Height</label>
                    </field>
                </group>
                <group id="product" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product</label>
                    <field id="width" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Width</label>
                    </field>
                    <field id="height" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Height</label>
                    </field>
                </group>
            </group>
            <!--group id="all_lookbooks_page" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>All Lookbooks Page</label>
                <field id="name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Page Title</label>
                </field>
                <field id="description" translate="label" type="editor" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Description</label>
                    <frontend_model>Codazon\Lookbookpro\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
                <field id="meta_title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Meta Title</label>
                </field>
                <field id="meta_keywords" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Meta Keywords</label>
                </field>
                <field id="meta_description" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Meta Description</label>
                </field>
            </group-->
            <group id="lookbook_category_list" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Lookbook Category List</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display on Sidebar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_type" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display Type</label>
                    <source_model>Codazon\Lookbookpro\Model\Config\Source\CategoryListType</source_model>
                </field>
                <field id="display_created_date" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display Created Date</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="date_format" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Date Format</label>
                </field>
            </group>
		</section>
	</system>
</config>